body{
    background-color: #170731;
    color: aliceblue;

}

p{
    color: yellow;
}

button{
    background-color: aliceblue;
    color: blue;
    font-size: large;
}
.heading{
    color: goldenrod;
}